
/***************************************** CSS *****************************************************/

html,body{
	margin:0px;
	text-align:center;
	font: 82% Verdana, Geneva, Arial, Helvetica, sans-serif;
	width:100%;
	height:100%;
}

body{
	background:#fff url(../img/fondo.gif) repeat-x;
	/*position: absolute;
	left: 40%;
	top: 34%;
	width: 1024px;*/
	text-align:center;
}

/*******************cabecera*************************/ 
 
#cabecera{
	background: url(../img/cabecera.gif) no-repeat;
	height:125px;
}
.logo_min{
	background: url(../img/logo_min.gif) left no-repeat;
	width:90px;
	height:35px;
	float: left;
	margin-top:30px;
	margin-left:15px;
}
.logo_ue{
	background: url(../img/logo_ue.gif) right no-repeat;
	width:90px;
	height:76px;
	float: right;
	position:relative;
	right:-170px;
	margin-top:30px;
}
.logo{
	background: url(../img/logo.gif) right no-repeat;
	width:180px;
	height:100px;
	float: right;
	position:relative;
	top:18px;
	right:100px;
}

.tituloCabecera{
	float: left;
	font-size: 1.9em;
	font-weight: normal;
	color: #bd0022;
	width:536px;
	text-align:center	;
	margin-top:70px;
}	

/**************************estructura******************************/

#contenedor{
	text-align: left;
	width: 820px;
	margin: auto;
	padding-top:0px;
} 
#borde{
	height:330px;
}

#margen{
	padding:0px 10px 10px 20px;
	text-align:left;
	border:1px dotted #666;/*#e3e3e3;*/
	width: 790px;
}
#principal_home{
	width:100%;
	height:94.8%;
	text-align:center;
	float:left;
	z-index:2;
	padding:20px;
}
#principal{
	width:80%;
	height:94.8%;
	text-align:center;
	float:left;
	z-index:2;
}
 
#barra_menu{
	background:#bd0022;
	height:20px;
	color:#fff;
	padding:8px 2px 2px 15px;
	font-weight:bold;
	text-align:left;
} 

#barra{
	background:#bd0022;
	height:20px;
	color:#fff;
	padding:8px 2px 2px 220px;
	font-weight:bold;
	text-align:left;
} 


/*************************menu******************************/

img{
	border: 0px;
}

#menu{
	z-index:3;
	width: 200px;
	height:100%;
	background: #fff;
	float:left;
	border-right:1px dotted #999;/*#bd0022;*/
}
#menu ul {
	margin : 0 0 0 0px;
	padding: 0px 0px 0px 0px;
	list-style: none; 
}
#menu li {
  	height: 33px;
	text-decoration: none;
	background:#fff;
	color:#bd0022;
	border-bottom:1px dotted #bd0022;	
}
#menu a{
	background: url(../img/point.gif) 5% 52% no-repeat;
	color:#bd0022;
  	text-decoration: none;
	font-weight:bold;
   	display: block;
	padding:10px 10px 10px 25px;
	text-decoration: none;
	border-right: 1px solid #ffffff;
	outline: 0;
}
#menu a:hover {
	background:#cccaca url(../img/point.gif) 5% 52% no-repeat;
	color:#fff;
}	

.activado {
	color:#fff;
	background:#ddd;
}
.desactivado{
	background:#fff;
	color:#bd0022;
}
/*****cuerpo************/

h1{

}

h2{
	color: #bd0022;
	font-size:1.1em;
	font-weight:bold;
}


/*links*/

a:link, a:visited{
	color: #bd0022;
}

a:hover{
	color: #717171;
}

/************pie****************/


#pie{
	background:#717171;
	color:#bd0022;
	text-align:top;
	height:20px;
	border-bottom:5px solid #bd0022;
}

#textopie{
	text-align:center;
	padding:2px;
	color:#fff;
}

/******botones formularios*******/


#botones{
	padding:5px 0px 5px 0px;
	position:relative;
	top:10px;
	height:30px;
	margin:0;
	text-align:right;
}

#boton_center{
	text-align:center;
}

input[type="button"], input[type="submit"]{
    border: 1px solid #000;
	background: url(../img/boton_off.gif) repeat-x;
	color:#fff;
	font-family:verdana;
	font-size:1em;
	font-weight:bold;
	width:auto;
	cursor:pointer;
	padding:5px;
	outline: 0;
}
input[type="button"]:hover, input[type="submit"]:hover{
    border: 1px solid #000;
	background: url(../img/boton_on.gif) repeat-x;
}

/*******************espacios****************/

#space{	height:25px;display:block;}
#space5{height:5px;}
#space10{padding:10px 5px 0px 0px;}
#space50{height:50px;background:yellow;display:block;}



/*********tablas***************/


.borde{
	border:1px solid #bd0022;
	width:100%;
}

#titFila{
	background:#e8e8e8 url(../img/check.gif) 1% 50% no-repeat;
	color:#000;
	font-weight:bold;
	text-align:right;
	margin:0;
}

#titResul{
	background:#f9f9f9;
	color:#000;
	text-align:left;
	padding:10px;
}


/******************************globales*************************************/

p{
	padding:10px 0px 10px 0px;
	
}

#nota{
	color:#bd0022;
	font-weight:bold;
}